.todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbf8ee;
    margin-bottom: 15px;
    border-radius: 8px;
    width: 90%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 1.05rem;
}

.todoItem p {
    width: 100%;
}

.todoItemButton{
    margin: 0 15px;
    border: none;
}

.todoItemButton-delete{
    width: 12px;
    height: 12px;
    background-color: transparent;
    background-image: url("../assets/icons/x.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.todoItemButton-complete{
    width: 28px;
    height: 28px;
    position: relative;
    border-radius: 50%;
}

.todoItemButton-complete::before {
    cursor: pointer;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #69437a, #48add9);
}


.todoItemButton-complete::after {
    cursor: pointer;
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    background-color: #fbf8ee;
}

.todoItemButton.todoItemButton-completed::after {
    background-color: #99cdd1; /* Cambia el color a rojo (#ff0000) o el que desees */
}

.todoItemParagraph-completed {
    text-decoration: line-through;
}