body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

#root{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    background-image: linear-gradient(to right, #fcad8d, #fcf5e8, #b0d9db);
    font-family: 'Quicksand', sans-serif;
}
